/* Font-Face */

@font-face {
  font-family: 'swis';
  src: url('../fonts/swis.ttf');
}

/* End Font-Face */

/* Utils */

.cs-bg {
  box-shadow: 0 0px 20px #bfbbbb;
}

.btn-wa-xl {
  border: none;
  background-color: #25d366;
  border-radius: 10em;
  color: #ffffff !important;
  width: 140px;
  height: 45px;
  line-height: 35px;
  right: -10px !important;
  text-align: center;
  position: relative;
}

.wa-text {
  padding-left: 1.5em;
}

#wa-icon {
  left: 15px;
  position: absolute;
  font-size: 2.2rem;
}

/* End Utils */

html {
  font-family: 'swis';
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* Header Section */

header {
  height: 60vh;
}

/* End Header Section */

/* Bg Header */

.bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 100%;
}

.bg-header img {
  width: 100%;
  height: 100%;
}

/* End Bg Header */

/* Nav */

nav {
  font-size: 1.7rem;
  background-color: #fff;
  height: 100px;
  padding: 0 7% 0 10% !important;
}

nav .nav-link {
  margin-right: 1.5em !important;
  color: #000000;
  border-bottom: 1.5px solid #fff;
  transition: all 0.5s ease;
}

nav #navbar-nav-satu .nav-item .nav-link:hover {
  border-bottom: 1.5px solid royalblue;
  transition: all 0.5s ease;
}

nav .logo img {
  width: 140px;
}

nav .mb-nav {
  display: none;
}

nav .mb-nav-flex {
  display: none;
}

/* End Nav */

/* Hero */

.hero {
  margin-top: 8%;
  padding: 0 11%;
}

.hero .judul-hero {
  font-size: 7rem;
  color: #003668;
  margin-top: 15%;
}

.hero .summary-hero {
  font-size: 2.7rem;
  color: #434343;
  width: 85%;
  font-weight: 200;
  margin-top: 5%;
}

.hero .hero-image {
  width: 600px;
  height: 380px;
  margin-left: 24%;
  margin-top: 10%;
}

.hero .hero-image img {
  border-radius: 180px;
  width: 100%;
  height: 100%;
}

/* End Hero */

/* Feature */

.feature {
  margin: 25% 13% 10%;
}

.feature .image-feature {
  width: 100%;
  height: 45vh;
}

.feature .image-feature img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.feature .judul-feature {
  font-size: 5rem;
  color: #003ea4;
  font-weight: 600;
  line-height: 6.5rem;
  padding-top: 10%;
}

.feature #text-feature {
  padding-left: 5%;
}

.feature .summary-feature {
  font-size: 2.6rem;
  margin-top: 5%;
  font-weight: 200;
}

.feature #bungkus-feature {
  margin-bottom: 10%;
}

.feature .judul-feature.hide-start {
  display: none;
}

.feature .summary-feature.hide-start-summary {
  display: none;
}

.feature #image-feature-mid {
  padding-left: 8%;
}

/* End Feature */

/* Fasilitas */

.fasilitas {
  width: 100%;
  height: 95vh;
  background-color: #f8f5ff;
  clip-path: polygon(18% 0, 100% 7%, 100% 96%, 78% 100%, 0 94%, 0 4%);
  padding: 7% 15%;
}

.fasilitas .judul-fasilitas {
  font-size: 3.5rem;
}

.fasilitas .summary-fasilitas {
  font-size: 1.5rem;
  padding-bottom: 5%;
  color: #7a7a7a;
}

.fasilitas .icon-fas {
  width: 40%;
  height: 40%;
}

.fasilitas .summary-icon-fas {
  font-size: 1.3rem;
  color: #7a7a7a;
}

/* End Fasilitas */

/* Brosis Flow */

.brosis-flow {
  padding: 5% 15%;
}

.brosis-flow .judul-brosis-flow {
  font-size: 3.7rem;
}

.brosis-flow .summary-brosis-flow {
  font-size: 1.6rem;
  color: #7a7a7a;
}

.brosis-flow .back-flow {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.brosis-flow .bunder-orange {
  width: 100px;
  height: 100px;
  margin-top: 5%;
}

.brosis-flow .bunder-orange {
  width: 100%;
  height: 100%;
}

.brosis-flow .bunder-biru {
  margin-top: -1%;
}

.brosis-flow .line-flow {
  width: 0.7rem;
  background-color: #e5eaed;
  height: 180vh;
}

.brosis-flow .dot-satu {
  position: absolute;
  left: 0;
  right: 0;
  margin: 10% auto 10% auto;
  width: 20px;
  height: 20px;
  background-color: #bbc5cc;
  border-radius: 50%;
}

.brosis-flow .line-dot-kiri-satu {
  position: absolute;
  left: -10%;
  top: 9.3%;
  right: 0;
  margin: 10% auto 10% auto;
  width: 20vh;
  height: 0.7rem;
  background-color: #e5eaed;
}

.brosis-flow .dot-dua {
  position: absolute;
  left: 0;
  right: 0;
  margin: 25% auto 10% auto;
  width: 20px;
  height: 20px;
  background-color: #bbc5cc;
  border-radius: 50%;
}

.brosis-flow .line-dot-kanan-satu {
  position: absolute;
  left: 10%;
  top: 24%;
  right: 0;
  margin: 10% auto 10% auto;
  width: 20vh;
  height: 0.7rem;
  background-color: #e5eaed;
}

.brosis-flow .dot-tiga {
  position: absolute;
  left: 0;
  right: 0;
  margin: 40% auto 10% auto;
  width: 20px;
  height: 20px;
  background-color: #bbc5cc;
  border-radius: 50%;
}

.brosis-flow .line-dot-kiri-dua {
  position: absolute;
  left: -10%;
  top: 38.7%;
  right: 0;
  margin: 10% auto 10% auto;
  width: 20vh;
  height: 0.7rem;
  background-color: #e5eaed;
}

.brosis-flow .dot-empat {
  position: absolute;
  left: 0;
  right: 0;
  margin: 57% auto 10% auto;
  width: 20px;
  height: 20px;
  background-color: #bbc5cc;
  border-radius: 50%;
}

.brosis-flow .line-dot-kanan-dua {
  position: absolute;
  left: 10%;
  top: 55.4%;
  right: 0;
  margin: 10% auto 10% auto;
  width: 20vh;
  height: 0.7rem;
  background-color: #e5eaed;
}

.brosis-flow .dot-lima {
  position: absolute;
  left: 0;
  right: 0;
  margin: 72.9% auto 10% auto;
  width: 20px;
  height: 20px;
  background-color: #bbc5cc;
  border-radius: 50%;
}

.brosis-flow .line-dot-kiri-tiga {
  position: absolute;
  left: -10%;
  top: 36.1%;
  right: 0;
  margin: 45.5% auto 10% auto;
  width: 20vh;
  height: 0.7rem;
  background-color: #e5eaed;
}

.brosis-flow .jam-satu {
  margin-top: 28%;
}

.brosis-flow .jam-satu .gambar-jam {
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.brosis-flow .jam-satu .gambar-jam img {
  width: 100%;
  height: 100%;
}

.brosis-flow .jam-satu .judul-jam {
  font-size: 2.7rem;
  border-bottom: 2px solid royalblue;
  width: 16%;
  padding-bottom: 5px;
}

.brosis-flow .jam-satu .summary-jam {
  font-size: 1.6rem;
  width: 15%;
  padding-bottom: 5px;
  color: #404040;
}

.brosis-flow .jam-satu .line-judul-jam {
  width: 10%;
  height: 5px;
  background-color: royalblue;
}

.brosis-flow .jam-dua {
  position: absolute;
  right: 16%;
  margin-top: 34%;
}

.brosis-flow .jam-dua .gambar-jam {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin-left: 5%;
}

.brosis-flow .jam-dua .gambar-jam img {
  width: 100%;
  height: 100%;
}

.brosis-flow .jam-dua .judul-jam {
  font-size: 2.7rem;
  border-bottom: 2px solid royalblue;
  width: 60%;
  padding-bottom: 5px;
  text-align: right;
}

.brosis-flow .jam-dua .summary-jam {
  font-size: 1.6rem;
  width: 60%;
  padding-bottom: 5px;
  color: #404040;
  text-align: right;
}

.brosis-flow .jam-dua .line-judul-jam {
  width: 10%;
  height: 5px;
  background-color: royalblue;
}

.brosis-flow .jam-tiga {
  margin-top: 23%;
}

.brosis-flow .jam-tiga .gambar-jam {
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.brosis-flow .jam-tiga .gambar-jam img {
  width: 100%;
  height: 100%;
}

.brosis-flow .jam-tiga .judul-jam {
  font-size: 2.7rem;
  border-bottom: 2px solid royalblue;
  width: 16%;
  padding-bottom: 5px;
}

.brosis-flow .jam-tiga .summary-jam {
  font-size: 1.6rem;
  width: 15%;
  padding-bottom: 5px;
  color: #404040;
}

.brosis-flow .jam-tiga .line-judul-jam {
  width: 10%;
  height: 5px;
  background-color: royalblue;
}

.brosis-flow .jam-empat {
  position: absolute;
  right: 16%;
  margin-top: 66%;
}

.brosis-flow .jam-empat .gambar-jam {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  margin-left: 5%;
}

.brosis-flow .jam-empat .gambar-jam img {
  width: 100%;
  height: 100%;
}

.brosis-flow .jam-empat .judul-jam {
  font-size: 2.6rem;
  border-bottom: 2px solid royalblue;
  width: 60%;
  padding-bottom: 5px;
  text-align: right;
}

.brosis-flow .jam-empat .summary-jam {
  font-size: 1.6rem;
  width: 60%;
  padding-bottom: 5px;
  color: #404040;
  text-align: right;
}

.brosis-flow .jam-empat .line-judul-jam {
  width: 10%;
  height: 5px;
  background-color: royalblue;
}

.brosis-flow .jam-lima {
  margin-top: 28.5%;
}

.brosis-flow .jam-lima .gambar-jam {
  width: 85%;
  height: 85%;
  border-radius: 20px;
}

.brosis-flow .jam-lima .gambar-jam img {
  width: 100%;
  height: 100%;
}

.brosis-flow .jam-lima .judul-jam {
  font-size: 2.7rem;
  border-bottom: 2px solid royalblue;
  width: 16%;
  padding-bottom: 5px;
}

.brosis-flow .jam-lima .summary-jam {
  font-size: 1.6rem;
  width: 15%;
  padding-bottom: 5px;
  color: #404040;
}

.brosis-flow .jam-lima .line-judul-jam {
  width: 10%;
  height: 5px;
  background-color: royalblue;
}

.brosis-flow #flow-mobile-card {
  display: none;
}

.brosis-flow .bungkus-jam-flow-dua {
  margin-left: -15%;
}

.brosis-flow .bungkus-jam-flow-empat {
  margin-left: -15%;
}

/* End Brosis Flow */

/* Responsive  */

@media (max-width: 1600px) {
  /* Hero */
  .hero {
    padding: 0 11%;
  }

  .hero .judul-hero {
    font-size: 6rem;
    color: #003668;
    margin-top: 13%;
  }

  .hero .summary-hero {
    font-size: 1.8rem;
    color: #434343;
    width: 85%;
    font-weight: 200;
    margin-top: 5%;
  }

  .hero .hero-image {
    width: 450px;
    height: 300px;
    margin-left: 10%;
    margin-top: 5%;
  }

  .hero .hero-image img {
    border-radius: 180px;
    width: 100%;
    height: 100%;
  }

  /* End Hero */

  /* Feature */

  .feature {
    margin: 25% 13% 10%;
  }

  .feature .image-feature {
    width: 100%;
    height: 40vh;
  }

  .feature .image-feature img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .feature .judul-feature {
    font-size: 3.5rem;
    color: #003ea4;
    font-weight: 600;
    line-height: 4.5rem;
    padding-top: 6%;
  }

  .feature #text-feature {
    padding-left: 5%;
  }

  .feature .summary-feature {
    font-size: 1.8rem;
    margin-top: 5%;
  }

  .feature #bungkus-feature {
    margin-bottom: 10%;
  }

  .feature .summary-feature.hide-start-summary {
    display: none;
  }

  .feature #image-feature-mid {
    padding-left: 8%;
  }
  /* End Feature */

  /* Fasilitas */

  .fasilitas {
    width: 100%;
    height: 95vh;
    background-color: #f8f5ff;
    clip-path: polygon(18% 0, 100% 7%, 100% 96%, 78% 100%, 0 94%, 0 4%);
    padding: 7% 15%;
  }

  .fasilitas .judul-fasilitas {
    font-size: 3.5rem;
  }

  .fasilitas .summary-fasilitas {
    font-size: 1.5rem;
    padding-bottom: 5%;
    color: #7a7a7a;
  }

  .fasilitas .icon-fas {
    width: 40%;
    height: 40%;
  }

  .fasilitas .summary-icon-fas {
    font-size: 1.3rem;
    color: #7a7a7a;
  }

  /* End Fasilitas */

  /* Brosis Flow */

  .brosis-flow {
    padding: 5% 15%;
  }

  .brosis-flow .judul-brosis-flow {
    font-size: 3.6rem;
  }

  .brosis-flow .summary-brosis-flow {
    font-size: 1.5rem;
    color: #7a7a7a;
  }

  .brosis-flow .back-flow {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .brosis-flow .bunder-orange {
    width: 100px;
    height: 100px;
    margin-top: 5%;
  }

  .brosis-flow .bunder-orange {
    width: 100%;
    height: 100%;
  }

  .brosis-flow .bunder-biru {
    margin-top: -1%;
  }

  .brosis-flow .line-flow {
    width: 0.7rem;
    background-color: #e5eaed;
    height: 180vh;
  }

  .brosis-flow .dot-satu {
    position: absolute;
    left: 0;
    right: 0;
    margin: 10% auto 10% auto;
    width: 20px;
    height: 20px;
    background-color: #bbc5cc;
    border-radius: 50%;
  }

  .brosis-flow .line-dot-kiri-satu {
    position: absolute;
    left: -10%;
    top: 10.5%;
    right: 0;
    margin: 10% auto 10% auto;
    width: 20vh;
    height: 0.7rem;
    background-color: #e5eaed;
  }

  .brosis-flow .dot-dua {
    position: absolute;
    left: 0;
    right: 0;
    margin: 25% auto 10% auto;
    width: 20px;
    height: 20px;
    background-color: #bbc5cc;
    border-radius: 50%;
  }

  .brosis-flow .line-dot-kanan-satu {
    position: absolute;
    left: 10%;
    top: 24%;
    right: 0;
    margin: 10% auto 10% auto;
    width: 20vh;
    height: 0.7rem;
    background-color: #e5eaed;
  }

  .brosis-flow .dot-tiga {
    position: absolute;
    left: 0;
    right: 0;
    margin: 40% auto 10% auto;
    width: 20px;
    height: 20px;
    background-color: #bbc5cc;
    border-radius: 50%;
  }

  .brosis-flow .line-dot-kiri-dua {
    position: absolute;
    left: -10%;
    top: 37.3%;
    right: 0;
    margin: 10% auto 10% auto;
    width: 20vh;
    height: 0.7rem;
    background-color: #e5eaed;
  }

  .brosis-flow .dot-empat {
    position: absolute;
    left: 0;
    right: 0;
    margin: 57% auto 10% auto;
    width: 20px;
    height: 20px;
    background-color: #bbc5cc;
    border-radius: 50%;
  }

  .brosis-flow .line-dot-kanan-dua {
    position: absolute;
    left: 10%;
    top: 52.6%;
    right: 0;
    margin: 10% auto 10% auto;
    width: 20vh;
    height: 0.7rem;
    background-color: #e5eaed;
  }

  .brosis-flow .dot-lima {
    position: absolute;
    left: 0;
    right: 0;
    margin: 72.9% auto 10% auto;
    width: 20px;
    height: 20px;
    background-color: #bbc5cc;
    border-radius: 50%;
  }

  .brosis-flow .line-dot-kiri-tiga {
    position: absolute;
    left: -10%;
    top: 35.1%;
    right: 0;
    margin: 45.5% auto 10% auto;
    width: 20vh;
    height: 0.7rem;
    background-color: #e5eaed;
  }

  .brosis-flow .jam-satu {
    margin-top: 31%;
  }

  .brosis-flow .jam-satu .gambar-jam {
    width: 85%;
    height: 85%;
    border-radius: 20px;
  }

  .brosis-flow .jam-satu .gambar-jam img {
    width: 100%;
    height: 100%;
  }

  .brosis-flow .jam-satu .judul-jam {
    font-size: 2.6rem;
    border-bottom: 2px solid royalblue;
    width: 16%;
    padding-bottom: 5px;
  }

  .brosis-flow .jam-satu .summary-jam {
    font-size: 1.4rem;
    width: 21%;
    padding-bottom: 5px;
    color: #404040;
  }

  .brosis-flow .jam-satu .line-judul-jam {
    width: 10%;
    height: 5px;
    background-color: royalblue;
  }

  .brosis-flow .jam-dua {
    position: absolute;
    right: 7%;
    margin-top: 36%;
  }

  .brosis-flow .jam-dua .gambar-jam {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    margin-left: 5%;
  }

  .brosis-flow .jam-dua .gambar-jam img {
    width: 100%;
    height: 100%;
  }

  .brosis-flow .jam-dua .judul-jam {
    font-size: 2.6rem;
    border-bottom: 2px solid royalblue;
    width: 55%;
    padding-bottom: 5px;
    text-align: right;
  }

  .brosis-flow .jam-dua .summary-jam {
    font-size: 1.4rem;
    width: 55%;
    padding-bottom: 5px;
    color: #404040;
    text-align: right;
  }

  .brosis-flow .jam-dua .line-judul-jam {
    width: 10%;
    height: 5px;
    background-color: royalblue;
  }

  .brosis-flow .jam-tiga {
    margin-top: 23%;
  }

  .brosis-flow .jam-tiga .gambar-jam {
    width: 85%;
    height: 85%;
    border-radius: 20px;
  }

  .brosis-flow .jam-tiga .gambar-jam img {
    width: 100%;
    height: 100%;
  }

  .brosis-flow .jam-tiga .judul-jam {
    font-size: 2.6rem;
    border-bottom: 2px solid royalblue;
    width: 16%;
    padding-bottom: 5px;
  }

  .brosis-flow .jam-tiga .summary-jam {
    font-size: 1.4rem;
    width: 21%;
    padding-bottom: 5px;
    color: #404040;
  }

  .brosis-flow .jam-tiga .line-judul-jam {
    width: 10%;
    height: 5px;
    background-color: royalblue;
  }

  .brosis-flow .jam-empat {
    position: absolute;
    right: 7%;
    margin-top: 68%;
  }

  .brosis-flow .jam-empat .gambar-jam {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    margin-left: 5%;
  }

  .brosis-flow .jam-empat .gambar-jam img {
    width: 100%;
    height: 100%;
  }

  .brosis-flow .jam-empat .judul-jam {
    font-size: 2.6rem;
    border-bottom: 2px solid royalblue;
    width: 55%;
    padding-bottom: 5px;
    text-align: right;
  }

  .brosis-flow .jam-empat .summary-jam {
    font-size: 1.4rem;
    width: 55%;
    padding-bottom: 5px;
    color: #404040;
    text-align: right;
  }

  .brosis-flow .jam-empat .line-judul-jam {
    width: 10%;
    height: 5px;
    background-color: royalblue;
  }

  .brosis-flow .jam-lima {
    margin-top: 28.5%;
  }

  .brosis-flow .jam-lima .gambar-jam {
    width: 85%;
    height: 85%;
    border-radius: 20px;
  }

  .brosis-flow .jam-lima .gambar-jam img {
    width: 100%;
    height: 100%;
  }

  .brosis-flow .jam-lima .judul-jam {
    font-size: 2.6rem;
    border-bottom: 2px solid royalblue;
    width: 16%;
    padding-bottom: 5px;
  }

  .brosis-flow .jam-lima .summary-jam {
    font-size: 1.4rem;
    width: 21%;
    padding-bottom: 5px;
    color: #404040;
  }

  .brosis-flow .jam-lima .line-judul-jam {
    width: 10%;
    height: 5px;
    background-color: royalblue;
  }

  .brosis-flow #flow-mobile-card {
    display: none;
  }

  .brosis-flow .bungkus-jam-flow-dua {
    margin-left: -20%;
  }

  .brosis-flow .bungkus-jam-flow-empat {
    margin-left: -20%;
  }
  /* End Brosis Flow */
}

/* Mobile */
@media (max-width: 570px) {
  /* Utils */
  .btn-burger {
    font-size: 3.5rem;
  }

  .btn-wa {
    font-size: 25px;
    width: 50px;
    padding: 0;
    height: 50px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    border: none;
  }

  .text-close-nav {
    position: relative;
    bottom: -10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
  }

  /* End Utils */

  /* Bg Header */

  .bg-header {
    width: 300%;
    position: absolute !important;
    height: 70vh;
  }

  .bg-header img {
    width: 100%;
    height: 100%;
  }

  /* End Bg Header */

  /* Nav */

  nav {
    z-index: 1;
  }

  /* End Nav */

  /* Hero */

  .hero {
    padding-top: 24%;
  }

  /* End Hero */

  /* Mb Nav Flex */

  .mb-nav-flex {
    display: flex !important;
    justify-content: inherit !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
  }

  #cs-bg {
    z-index: 9;
    position: fixed;
    width: 100%;
  }

  /* End Mb Nav Flex */

  .mb-nav {
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 7;
  }

  .mb-nav.mb-nav-active {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 0.8s ease;
    z-index: 2;
    margin-top: 15%;
  }

  .mb-nav ul {
    background-color: #ffffff;
    border-radius: 0 0 15% 15%;
    list-style: none;
    padding: 10px 5% 10px 10% !important;
    display: none;
  }

  .mb-nav ul li {
    padding: 5% 5%;
    width: 95%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #bebebe;
    font-size: 2.6rem;
  }

  .mb-nav .mb-menu-nav.active {
    color: #0161ff;
  }

  .mb-nav .mb-menu-nav:active,
  .mb-nav .mb-menu-nav:hover {
    color: #0161ff;
    text-decoration: none;
  }

  .mb-nav ul li a {
    color: #000000;
  }

  .mb-nav ul li:nth-child(3) {
    border: none;
  }

  /* Hero */

  .hero .judul-hero {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }

  .hero .summary-hero {
    text-align: center;
    width: 100% !important;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 5%;
  }

  .hero .hero-image {
    margin-left: -0.5% !important;
    width: 100%;
    height: 100%;
  }

  /* End Hero */

  /* Feature */

  .feature {
    padding-top: 15vh;
  }

  .feature .judul-feature.hide-start,
  .feature .judul-feature {
    display: block;
    font-size: 2.7rem;
    line-height: 3.4rem;
    text-align: center;
    padding: 11% 0;
  }

  .feature .image-feature {
    height: 25vh;
  }

  .feature #hide-end {
    display: none;
  }

  .feature .summary-feature {
    font-weight: 300;
    width: 120%;
    font-size: 1.5rem;
    padding-top: 5%;
    margin-left: -10%;
    text-align: center;
  }

  .feature .summary-feature.hide-end-summary {
    display: none;
  }

  .feature .summary-feature.hide-start-summary {
    display: block;
    margin-right: -10%;
  }

  .feature #image-feature-mid {
    padding-left: 0%;
  }

  /* End Feature */

  /* Fasilitas */

  .fasilitas {
    clip-path: polygon(18% 0, 100% 2%, 100% 96%, 78% 100%, 0 98%, 0 3%);
    padding: 15% 3%;
    height: auto;
  }

  .fasilitas .judul-fasilitas {
    font-size: 2.7rem;
  }

  .fasilitas .summary-icon-fas {
    width: 70%;
    margin: auto;
  }

  .fasilitas #bungkus-icon {
    margin: 5% 0;
  }

  /* End Fasilitas */

  /* Brosis Flow */

  .brosis-flow .jam-satu,
  .brosis-flow .jam-dua,
  .brosis-flow .jam-tiga,
  .brosis-flow .jam-empat,
  .brosis-flow .jam-lima,
  .brosis-flow .dot-satu,
  .brosis-flow .dot-dua,
  .brosis-flow .dot-tiga,
  .brosis-flow .dot-lima,
  .brosis-flow .dot-empat,
  .brosis-flow .line-dot-kiri-satu,
  .brosis-flow .line-dot-kanan-satu,
  .brosis-flow .line-dot-kiri-dua,
  .brosis-flow .line-dot-kanan-dua,
  .brosis-flow .line-dot-kiri-tiga {
    display: none !important;
  }

  .brosis-flow #flow-mobile-card {
    display: block;
  }

  .brosis-flow #gambar-flow img {
    width: 100%;
    height: 100%;
  }

  /* End Brosis Flow */
}
/* End Responsive Mobile */
