/* Responsive  */

@media (max-width: 1600px) {

.bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 110%;
  top: -5em;
}

.bg-header img {
  width: 100%;
  height: 95vh;
}


/* hero */
.hero-detail-lokasi {
  padding: 10% 0% 0 11%;
}

.hero-detail-lokasi .judul-hero-detail-lokasi {
  font-size: 6rem;
  color: #003668;
  font-weight: 700;
}
/* end hero */

/* unit */
.unit-brosis-detail-lokasi {
  margin: 15% 13% 7% 11.5%;
}

.unit-brosis-detail-lokasi .row  a {
  text-decoration: none;
}

.unit-brosis-detail-lokasi h2 {
    font-size: 3.5rem;
    font-weight: bold;
}

.unit-brosis-detail-lokasi .card {
    border: none;
    width: 30rem;
}

.unit-brosis-detail-lokasi .card-body {
    margin-left: -4%;
}

.unit-brosis-detail-lokasi .card-body p {
    color: #979797;
    font-size: 1.5rem;
     text-decoration: none;
}

.unit-brosis-detail-lokasi .card-body h3 {
  margin-top: 0;
  margin-bottom: 4%;
   color: black;
}

.unit-brosis-detail-lokasi .card-body h4 {
    color: #0161FF;
     text-decoration: none;
}

/* map */
.map-detail-lokasi {
  margin: 0 13% 5% 11.5%;
  width: 80%;
}

.map-detail-lokasi .left h2 {
    font-weight: 400;
    font-size: 2.9rem;
    margin-top: 10%;
}

.map-detail-lokasi .left p {
  width: 100%;
    font-size: 1.8rem;
    margin-top: 3%;
    text-align: justify;
}

.map-detail-lokasi .right img {
    width: 70%; 
    margin-left: 10%;
}

/* Lokasi Brosis */

  .lokasi-brosis {
    padding: 0% 10% 2% 9.5%;
  }

.lokasi-brosis .pagination .button-next,
.lokasi-brosis .pagination .button-prev{
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #707070;
    border-radius : 50%;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffff;
}

.lokasi-brosis .pagination .button-next:active,
.lokasi-brosis .pagination .button-next:focus{
  outline: none;
}
.lokasi-brosis .pagination .button-prev:active,
.lokasi-brosis .pagination .button-prev:focus{
  outline: none;
}

.lokasi-brosis .pagination .button-next:hover {
  background-color: #ddd;
}
.lokasi-brosis .pagination .button-prev:hover {
  background-color: #ddd;
}

  /* End Lokasi Brosis */

/* end daftar lokasi */
  



  /* Hero2 */

  .clip-art-detail-lokasi {
  width: 110%;
  height: 70vh;
  margin-top: 7%;
     clip-path: polygon(18% 0, 100% 2%, 100% 96%, 78% 100%, 0 98%, 0 3%);
    background-color: #f8f5ff;
  position: absolute;
}

.hero2-detail-lokasi {
    margin-top: -2%;
  padding: 10% 15% 0 11.5%;
  width: 110%;
}

.hero2-detail-lokasi .judul-hero2-detail-lokasi {
  font-size: 4.5rem;
  color: #003668;
  margin-top: 15%;
    font-weight: bold;
}

.hero2-detail-lokasi .summary-hero2-detail-lokasi {
  font-size: 1.8rem;
  color: #434343;
  width: 90%;
  font-weight: 200;
  margin-top: 5%;
}

.hero2-detail-lokasi .hero-image2-detail-lokasi {
  width: 600px;
  height: 380px;
  margin-right: 20%;
  margin-left: -5%;
  margin-top: 10%;
}

.hero2-detail-lokasi .hero-image2-detail-lokasi img {
  border-radius: 180px;
  width: 80%;
  height: 80%;
  margin-right: 20%;
}

/* End Hero2 */


/* Feature */

  .feature {
    margin: 5% 13% 10% 13%;
  }


/* End Testimony */
}

/* Mobile */
@media (max-width: 570px) {

  /* Bg Header */

  .bg-header {
    width: 300%;
    position: absolute !important;
    height: 65vh;
  }

  .bg-header img {
    width: 100%;
    height: 110%;
  }

  /* End Bg Header */

  

 /* hero */
.hero-detail-lokasi {
  padding: 0 11%;
  margin-top: 15%;
  margin-bottom: 13%;
}

.hero-detail-lokasi .judul-hero-detail-lokasi {
  width: 100%;
  font-size: 4.5rem;
  margin-top: 15%;
  font-weight: 700;
  text-align: center;
  padding-top: 15%;
}
/* end hero */

  /* unit brosis */
  .unit-brosis-detail-lokasi {
  width: 80%;
  margin: 35% 13% 5% 5% !important;
}

  .unit-brosis-detail-lokasi h2 {
    width: 100%;
    margin-left: 7%;
    font-size: 2.5rem;
    font-weight: bold;
}

.unit-brosis-detail-lokasi .card {
  width: 15rem;
  margin-left: 5%;
}

.unit-brosis-detail-lokasi .card-body {
  margin-left: -8%;
}

.unit-brosis-detail-lokasi .card-body p {
  width: 150%;
    color: #979797;
    font-size: 1rem;
}

.unit-brosis-detail-lokasi .card-body h4 {
    font-size: 1.2rem;
    width: 150%;
}

.unit-brosis-detail-lokasi .card-body h3 {
    font-size: 1.2rem;
}
/* map */
.map-detail-lokasi .left h2 {
  width: 100%;
    font-size: 2.5rem;
    margin-top: 10%;
    margin-left: -2%;
    font-weight: bold;
    text-align: center;
}

.map-detail-lokasi .left p {
  width: 100%;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-left: -2%;
}

.map-detail-lokasi .right img {
    width: 80%; 
    margin-top: 10% !important;
}
/* end map */

/* Coursel Lokasi */  

.lokasi-brosis .judul-lokasi-brosis {
  font-size: 2.8rem;
}

  .lokasi-brosis .pagination {
    display: none;
  }

  /* End Lokasi Coursel */

  /* hero2 */

.clip-art-detail-lokasi {
  height: 65vh;
}

.hero2-detail-lokasi {
    padding: 10% 3%;
    height: 65vh;
    margin-top: 10%;
    margin-bottom: 20%;
    width: 110%;
}

.hero2-detail-lokasi .judul-hero2-detail-lokasi {
  width: 100%;
  font-size: 3.5rem;
  color: #003668;
  margin-top: 2%;
  text-align: center;
  padding-top: 10%;
}

.hero2-detail-lokasi .summary-hero2-detail-lokasi {
  width: 100%;
  font-size: 1.8rem;
  color: #434343;
  width: 100%;
  font-weight: 200;
  margin-top: 10%;
  text-align: center;
  margin-left: -1%;
}

.hero2-detail-lokasi .hero-image2-detail-lokasi {
    width: 100%;
}

.hero2-detail-lokasi .hero-image2-detail-lokasi img {
  width: 80%;
  height: 50%;
  margin-left: 15%;
}

/* End Hero */



/* Testimony */

  .testimony {
    clip-path: polygon(25% 0%, 100% 3%, 100% 100%, 70% 97%, 0 100%, 0 3%);
    height: 80vh;
    margin-top: 30%;
  }

  /* End Testimony */

}
/* End Responsive Mobile */
