/* Responsive  */
@media (max-width: 1600px) {
  .bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 110%;
  top: -5em;
}

.bg-header img {
  width: 100%;
  height: 95vh;
}

  /* Hero */
  .hero-bantuan {
    padding: 0 11%;
  }

  .hero-bantuan .judul-hero-bantuan {
    font-size: 6rem;
    color: #003668;
    font-weight: 700;
    padding-top: 30%;
  }
  /* Pertanyaan */
.faq-bantuan{
  margin: 15% 9% 0 9%;
}
.judul-bantuan {
  font-size: 3.5rem;
  font-weight: 700;
}
.filter-box-bantuan {
  font-size: 1.8rem;
    border: 1px solid #707070;
    border-radius: 6px;
    float: right;
    padding: 1.5% 3%;
    text-align: center;
    color: black;
    text-decoration: none;
}

.filter-box-bantuan:hover {
  color: black;
  text-decoration: none;
  background-color: #dfdddd;
}

.line {
  margin: auto;
  background-color: #404040;
  width: 100%;
  height: 0.1vh;
  margin-top: -3%;
}

.line-1 {
  margin: auto;
  background-color: #404040;
  width: 80%;
  height: 0.1vh;
  margin-top: 2%;
}

.detail-bantuan .accordion {
  margin: auto;
  width: 80%;
  border: none;
}
.detail-bantuan .card {
  border: none;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.detail-bantuan .card-body {
  outline: none;
  border: none;
  font-size: 1.8rem;
  margin-left: -1rem;
  width: 95%;
  text-align: justify;
}

.detail-bantuan .card-header {
  background-color: #fff;
  outline: none;
  border: none;
}

.active {
  color: #003ea4;
}

.ask-button-2:hover,
.ask-button-3:hover,
.ask-button-4:hover,
.ask-button-5:hover,
.ask-button-1:hover {
  color: black;
}
.ask-button-1:focus,
.ask-button-2:focus,
.ask-button-3:focus,
.ask-button-4:focus,
.ask-button-5:focus {
  outline: 0;
  box-shadow: none;
}

.ask-button-1 {
  font-size: 2.5rem;
  margin-left: -2rem;
}
.ask-button-2,
.ask-button-3,
.ask-button-4,
.ask-button-5,
.ask-button-1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #000000;
  margin-left: -2rem;
}

.path-1 {
  float: right;
  padding-top: 1%;
}
/* End Pertanyaan */
/* form */

.form-bantuan {
  margin-left: 7%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.clip-path-bantuan {
  margin-left: 8%;
  width: 60rem;
  height: 45vh;
  background-color: #f8f9f4;
  clip-path: polygon(86% 0, 100% 50%, 86% 100%, 0% 100%, 0 50%, 0% 0%);
}

.judul-clip-bantuan {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 8rem 0 0 8rem;
}

.desk-clip-bantuan {
  font-size: 1.8rem;
  padding: 1.5rem 0 0 8rem;
  font-weight: 200;
  z-index: -1;
}

.form-bantuan .form-right {
  margin-top: -2%;
}

.form-bantuan .form-right .form-group {
  width: 70%;
  margin-top: 3%;
  margin-left: 10%;
}

.form-bantuan .form-right .form-group label {
  font-size: 1.4rem;
}

.form-bantuan .form-right .form-group .input-group-text .text-ponsel {
  font-size: 1.5rem;
  margin: auto 1rem;
}

.form-bantuan .form-right .form-group .btn-form {
  border-radius: 8px;
  font-size: 1.8rem;
}

input[type="text"] {
  width: 100%;
  padding: 2rem 1.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.5rem;
}

input::placeholder{
  font-style: italic;
}


input[type="submit"] {
  padding: 1rem 0;
  font-style: normal;
  font-size: 1.5rem;
}
}
/* Mobile */
@media (max-width: 570px) {

  
  .bg-header {
    width: 300%;
    position: absolute !important;
    height: 65vh;
  }

  .bg-header img {
    width: 100%;
    height: 110%;
  }
  /* Hero */

  .hero-bantuan {
    width: 120%;
    margin-left: -10%;
    margin-top: 15%;
  }

  .hero-bantuan .judul-hero-bantuan {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
  }

  /* End Hero */

  /* FAQ */
  
.faq-bantuan {
  margin-top: 0%;
  margin-bottom: 10%;
}

  .judul-bantuan {
    width: 120%;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .filter-box-bantuan {
    font-size: 1.8rem;
    border: 1px solid #707070;
    border-radius: 6px;
    margin-top: 8%;
    float: left;
    margin-left: 23%;
    padding: 3% 6%;
  }

  .path-1 {
    display: none;
  }
  /* End FAQ */

  /* pertanyaan */

  .detail-bantuan .card-body {
    font-size: 1.6rem;
    width: 100%;
  }


  .line{
    margin-top: -13%;
    color: black;
  }

  /* end pertanyaan */

  /* form */

  .form-bantuan {
    margin-left: 8%;
    margin-top: 15%;
  }

  .form-bantuan .form-right .form-group {
    width: 90%;
    margin-top: 5%;
    margin-left: 1%;
  }

  .clip-path-bantuan {
    width: 100%;
    height: 35vh;
    margin-left: -3%;
    background-color: #f8f9f4;
    clip-path: polygon(100% 0, 100% 82%, 52% 100%, 0 83%, 0% 0%);
    margin-bottom: 5%;
  }

  .judul-clip-bantuan {
    width: 120%;
    font-size: 2.7rem;
    text-align: center;
    padding-top: 4rem;
    margin-left: -20%;
  }
  .desk-clip-bantuan {
    width: 120%;
    font-size: 1.7rem;
    margin-left: -20%;
    z-index: -1;
  }

  /* end form */

}
/* End Responsive Mobile */
