/* Font-Face */

@font-face {
  font-family: 'swis';
  src: url('../fonts/swis.ttf');
}

/* End Font-Face */

/* Utils */

.cs-bg {
  box-shadow: 0 0px 20px #bfbbbb;
}

.btn-wa-xl {
  border: none;
  background-color: #25d366;
  border-radius: 10em;
  color: #ffffff !important;
  width: 140px;
  height: 45px;
  line-height: 35px;
  right: -10px !important;
  text-align: center;
  position: relative;
}

.wa-text {
  padding-left: 1.5em;
}

#wa-icon {
  left: 15px;
  position: absolute;
  font-size: 2.2rem;
}

/* End Utils */

html {
  font-family: 'swis';
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* Header Section */

header {
  height: 60vh;
}

/* End Header Section */

/* Bg Header */

.bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 110%;
  top: -5em;
}

.bg-header img {
  width: 100%;
  height: 100%;
}

/* End Bg Header */

/* Nav */

nav {
  font-size: 1.7rem;
  background-color: #fff;
  height: 100px;
  padding: 0 7% 0 10% !important;
}

nav .nav-link {
  margin-right: 1.5em !important;
  color: #000000;
  border-bottom: 1.5px solid #fff;
  transition: all 0.5s ease;
}

nav #navbar-nav-satu .lokasi .nav-link {
  border-bottom: 1.5px solid royalblue;
}

nav #navbar-nav-satu .nav-item .nav-link:hover {
  border-bottom: 1.5px solid royalblue;
  transition: all 0.5s ease;
}

nav .logo img {
  width: 140px;
}

nav .mb-nav {
  display: none;
}

nav .mb-nav-flex {
  display: none;
}

/* End Nav */






/* Responsive  */

@media (max-width: 1600px) {
 /* Utils */

.cs-bg {
  box-shadow: 0 0px 20px #bfbbbb;
}

.btn-wa-xl {
  border: none;
  background-color: #25d366;
  border-radius: 10em;
  color: #ffffff !important;
  width: 140px;
  height: 45px;
  line-height: 35px;
  right: -10px !important;
  text-align: center;
  position: relative;
}

.wa-text {
  padding-left: 1.5em;
}

#wa-icon {
  left: 15px;
  position: absolute;
  font-size: 2.2rem;
}

/* End Utils */

html {
  font-family: 'swis';
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* Header Section */

header {
  height: 60vh;
}

/* End Header Section */

/* Bg Header */

.bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 85%;
  top: -5em;
}

.bg-header img {
  width: 100%;
  height: 105%;
}

/* End Bg Header */

/* Nav */

nav {
  font-size: 1.7rem;
  background-color: #fff;
  height: 70px;
  padding: 0 7% 0 10% !important;
}

nav .nav-link {
  margin-right: 1.5em !important;
  color: #000000;
  border-bottom: 1.5px solid #fff;
  transition: all 0.5s ease;
}

nav #navbar-nav-satu .nav-item .nav-link:hover {
  border-bottom: 1.5px solid royalblue;
  transition: all 0.5s ease;
}

nav .logo img {
  width: 140px;
}

nav .mb-nav {
  display: none;
}

nav .mb-nav-flex {
  display: none;
}

/* end nav */

/* hero */
.hero {
  padding: 0 11%;
  margin-top: -2%;
  margin-bottom: 4%;
}

.hero .judul-hero {
  font-size: 5rem;
  margin-top: 15%;
  font-weight: 700;
}

.hero .judul-hero #text-top {
    color: #003668;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

.hero .filter-box {
    font-size: 1.8rem;
    border: 1px solid #707070;
    border-radius: 6px;
    margin-top: 5%;
    padding: 1.2% 3%;
    text-align: center;
}

.hero .right .pagination {
  margin-top: 57%;
  margin-left: 70%;
}


.hero .right .pagination .button-next,
.hero .right .pagination .button-prev {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #707070;
    border-radius : 50%;
    font-size: 18px;
    cursor: pointer;
    background-color: #ffff;
}

.hero .right .pagination .button-next:active,
.hero .right .pagination .button-next:focus{
  outline: none;
}
.hero .right .pagination .button-prev:active,
.hero .right .pagination .button-prev:focus{
  outline: none;
}

.hero .right .pagination .button-next:hover {
  background-color: #ddd;
}
.hero .right .pagination .button-prev:hover {
  background-color: #ddd;
}
/* end hero */

/* daftar lokasi */

.swiper-container {
  width: 100%;
    margin-left: 11%;
    padding-left: 3%;
    margin-top: -2%;
}

.daftar-lokasi {
    margin-left: 2%;

}

.daftar-lokasi .bungkus-lokasi {
    background-size: contain;
    width: 100%;
    position: relative;
    border-radius: 20px;
  }

  .daftar-lokasi .img-lokasi img {
      width: 140%;
      cursor: pointer;
  }

.daftar-lokasi .judul-lokasi {
    position: absolute;
    bottom: 25%;
    color: #fff;
    left: 20%;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


  .daftar-lokasi .garis-lokasi {
    position: absolute;
    height: 2px;
    background-color: #edfe00;
    width: 40%;
    left: 20.8%;
    bottom: 19%;
  }

  .daftar-lokasi .text-lokasi {
    position: absolute;
    color: #ffffff;
    bottom: 15%;
    left: 20.7%;
    font-size: 1.3rem;
  }

/* end daftar lokasi */

/* form */

.form {
  margin-left: 7%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.clip-path {
  margin-left: 8%;
  width: 60rem;
  height: 45vh;
  background-color: #f8f9f4;
  clip-path: polygon(86% 0, 100% 50%, 86% 100%, 0% 100%, 0 50%, 0% 0%);
}
.image-path {
  display: none;
}
.form-box {
  margin: 5% 10% 0 10%;
}

.judul-clip {
  font-size: 3.5rem;
  font-weight: 700;
  padding: 8rem 0 0 7rem;
}

.desk-clip {
  font-size: 2rem;
  padding: 1.5rem 0 0 7rem;
  z-index: -1;
}

.form .form-right {
  margin-top: -3%;
}

.form .form-right .form-group {
  width: 70%;
  margin-top: 3%;
  margin-left: 10%;
}

.form .form-right .form-group label {
  font-size: 1.4rem;
}

.form .form-right .form-group .input-group-text .text-ponsel {
  font-size: 1.5rem;
  margin: auto 1rem;
}

.form .form-right .form-group .btn-form {
  border-radius: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 2rem 1.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.5rem;
}
input[placeholder] {
  font-size: 1.5rem;
  font-style: italic;
}
input[type="submit"] {
  padding: 1rem 0;
  font-style: normal;
  font-size: 1.5rem;
}

/* end form */

/* Hero2 */

.hero2 {
  width: 110%;
  height: 85vh;
  background-color: #f8f5ff;
  clip-path: polygon(18% 0, 100% 7%, 100% 96%, 78% 100%, 0 94%, 0 4%);
  padding: 7% 15%;
}

.hero2 .judul-hero2 {
  font-size: 4rem;
  color: #003668;
  margin-top: 15%;
  font-weight: bold;
}

.hero2 .summary-hero2 {
  font-size: 2rem;
  color: #434343;
  width: 85%;
  font-weight: 200;
  margin-top: 5%;
}

.hero2 .hero-image2 {
  width: 600px;
  height: 380px;
  margin-right: 20%;
  margin-left: 10%;
  margin-top: 10%;
}

.hero2 .hero-image2 img {
  border-radius: 180px;
  width: 80%;
  height: 80%;
  margin-right: 20%;
}

/* End Hero2 */

/* Feature */

  .feature {
    margin: 5% 5% 10% 15%;
  }

  .feature .judul-feature.hide-start {
    display: none;
  }

  .feature .image-feature {
    width: 90%;
    height: 45vh;
  }

  .feature .image-feature img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .feature .judul-feature {
    font-size: 3.3rem;
    color: #003ea4;
    font-weight: 700;
    line-height: 4.5rem;
    padding-top: 6%;
  }

  .feature #text-feature {
    padding-left: 5%;
  }

  .feature .summary-feature {
    width: 100%;
    font-size: 2rem;
    margin-top: 5%;
  }

  .feature #bungkus-feature {
    margin-bottom: 10%;
  }

  .feature .summary-feature.hide-start-summary {
    display: none;
  }

  .feature #image-feature-mid {
    padding-left: 8%;
  }
  /* End Feature */

  /* Testimony */

  .testimony {
    width: 100%;
    padding: 10% 10% 0% 10%;
    height: 100vh;
    margin: 10% 0;
    clip-path: polygon(15% 0, 100% 5%, 100% 100%, 75% 91%, 0 100%, 0 5%);
    -ms-clip-path: polygon(15% 0, 100% 5%, 100% 100%, 75% 91%, 0 100%, 0 5%);
    -moz-clip-path: polygon(15% 0, 100% 5%, 100% 100%, 75% 91%, 0 100%, 0 5%);
    background-color: #f8f9f4;
  }

  .testimony .judul-testimony {
    font-size: 2.8rem;
    margin-bottom: 3%;
  }

  .testimony .gambar-petik {
    position: absolute;
    width: 40px;
    height: 100px;
    top: -1%;
  }

  .testimony .card-testi {
    width: 95%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10%;
    margin: 5%;
    font-size: 1.5rem;
    box-shadow: 0 0px 10px #d8d8d8;
    min-height: 180px;
  }

  .testimony .person-testi {
    display: flex;
    margin: 10% 0 0 15%;
  }

  .testimony .person-testi .foto-person {
    width: 65px;
    height: 65px;
    object-fit: contain;
  }

  .testimony .person-testi .foto-person img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .testimony .person-testi .person-text {
    margin-left: 5%;
    padding-top: 3%;
  }

  .testimony .person-testi .person-text .judul-person {
    font-size: 1.8rem;
  }

  .testimony .person-testi .person-text .status-person {
    font-size: 1.4rem;
  }

  /* Swipper Testimony */

  .swiper-container {
    width: 100%;
    height: auto;
  }

  .swiper-slide {
    font-size: 18px;

    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide:hover {
    cursor: grab;
  }

  /* End Swipper Testimony */

  /* End Testimony */

  /* Vibes */

  .vibes {
    margin-top: -5%;
    padding: 0 5%;
  }

  .vibes .judul-vibes {
    font-size: 2.9rem;
    font-weight: bold;
  }

  .vibes .summary-vibes {
    font-size: 1.6rem;
    color: #7a7a7a;
    margin-bottom: 3%;
  }

  .vibes .swiper-container-vibes {
    width: 100%;
    height: auto;
  }

  .vibes .image-vibes {
    border-radius: 20px !important;
    height: 50vh;
    width: 100%;
  }

  /* End Vibes */

  /* Footer */

  .text-footer {
    margin: 5% 0;
  }

  .text-footer .judul-footer {
    font-weight: bold;
    font-size: 2.9rem;
  }

  .text-footer .summary-footer {
    font-size: 1.6rem;
    color: #7a7a7a;
  }

  .bg-footer {
    position: absolute;
    z-index: -1;
    left: -5%;
    width: 120%;
    top: 6%;
    max-height: 300px;
  }

  .bg-footer img {
    width: 100%;
    height: 100%;
  }

  .footer {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    padding: 0 5%;
  }

  .footer .kotak-white {
    width: 100%;
    height: 40vh;
    background-color: #fff;
    border: 1px solid #434343;
  }

  .text-footer .menu-footer {
    color: #acebff;
  }

  .text-footer .row a {
    font-size: 1.5rem;
    margin: 1% 0;
    color: white;
  }

  .text-footer .item-tentang a {
    color: white;
    margin: 3% 0;
  }

  .text-footer #item-hubungi a {
    color: white;
    margin: 2% 0;
  }

  .text-footer .text-footer-life, .text-footer .text-footer-privacy {
    font-size: 1.2rem !important;
    color: #acebff !important;
    margin: 1.5% 0 0 1% !important;
  }

  .footer .text-footer-mobile {
    font-size: 1.4rem !important;
    margin-right: 3% !important;
  }

  .footer .judul-footer-komunitas {
    margin-top: 21% !important; 
  }

  .footer #show-footer-end {
    display: none;
  }

  .footer #bungkus-hide-komunitas {
    display: none;
  }
  /* End Footer */

}











/* Mobile */
@media (max-width: 570px) {
  /* Utils */
  .btn-burger {
    font-size: 3.5rem;
  }

  .btn-wa {
    font-size: 25px;
    width: 50px;
    padding: 0;
    height: 50px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    border: none;
  }

  .text-close-nav {
    position: relative;
    bottom: -10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
  }

  /* End Utils */

  /* Bg Header */

  .bg-header {
    width: 300%;
    position: absolute !important;
    height: 58vh;
  }

  .bg-header img {
    width: 100%;
    height: 100%;
  }

  /* End Bg Header */

 /* Nav */

  nav {
    z-index: 1;
    height: 70px;
  }

  /* End Nav */

  /* Hero */

  .hero {
    padding-top: 24%;
  }

  /* End Hero */

  /* Mb Nav Flex */

  .mb-nav-flex {
    display: flex !important;
    justify-content: inherit !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
  }

  #cs-bg {
    z-index: 9;
    position: fixed;
    width: 100%;
  }

  /* End Mb Nav Flex */

  .mb-nav {
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 7;
  }

  .mb-nav.mb-nav-active {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 0.8s ease;
    z-index: 2;
    margin-top: -15%;
  }

  .mb-nav ul {
    background-color: #ffffff;
    border-radius: 0 0 15% 15%;
    list-style: none;
    padding: 10px 5% 10px 10% !important;
    display: none;
  }

  .mb-nav ul li {
    padding: 5% 5%;
    width: 95%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #bebebe;
    font-size: 2.6rem;
  }

  .mb-nav .mb-menu-nav.active {
    color: #0161ff;
  }

  .mb-nav .mb-menu-nav:active,
  .mb-nav .mb-menu-nav:hover {
    color: #0161ff;
    text-decoration: none;
  }

  .mb-nav ul li a {
    color: #000000;
  }

  .mb-nav ul li:nth-child(3) {
    border: none;
  }

  /* hero */
.hero {
  padding: 0 11%;
  margin-top: 30%;
  margin-bottom: 13%;
}

.hero .judul-hero {
  width: 100%;
  font-size: 4.5rem;
  margin-top: 15%;
  font-weight: 700;
  text-align: center;
  margin-left: 2%;
}

.hero .judul-hero #text-top {
  font-size: 3.5rem;
}

.hero .filter-box {
    font-size: 1.8rem;
    border: 1px solid #707070;
    border-radius: 6px;
    margin-top: 10%;
    margin-left: 28%;
    padding: 3% 6%;
}

.hero .right .pagination {
  display: none;
}

/* daftar lokasi */

.swiper-container {
margin-top: -4%;
padding-left: 12%;
margin-left: 3%;
}

.daftar-lokasi {
    margin-left: -5%;
}

 .daftar-lokasi .img-lokasi img {
      width: 100%;
  }


.daftar-lokasi .judul-lokasi {
    top: 58%;
    left: 14.7%;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


  .daftar-lokasi .garis-lokasi {
    position: absolute;
    height: 2px;
    background-color: #edfe00;
    width: 40%;
    left: 14.7%;
    bottom: 19%;
  }

  .daftar-lokasi .text-lokasi {
    position: absolute;
    color: #ffffff;
    bottom: 13%;
    left: 14.7%;
    font-size: 1rem;
  }


  /* form */

.form {
  margin-left: 8%;
}

.form .form-right .form-group {
    width: 90%;
    margin-top: 5%;
    margin-left: 1%;
  }

.clip-path {
  width: 100%;
  height: 25vh !important;
  margin-left: -3%;
  background-color: #f8f9f4;
  clip-path: polygon(100% 0, 100% 82%, 52% 100%, 0 83%, 0% 0%);
}

  
.judul-clip {
  width: 100%;
  font-size: 2.7rem;
  text-align: center;
  padding-top: 4rem;
  margin-left: -10%;

}
.desk-clip {
  width: 120%;
  font-size: 1.7rem;
  margin-left: -17%;
  z-index: -1;
}

/* end form */

/* hero2 */

.hero2 {
    clip-path: polygon(18% 0, 100% 2%, 100% 96%, 78% 100%, 0 98%, 0 3%);
    padding: 15% 3%;
    height: 75vh;
    margin-top: 10%;
    width: 110%;
}

.hero2 .judul-hero2 {
  font-size: 3.5rem;
  color: #003668;
  margin-top: 2%;
  text-align: center;
  margin-left: -1%;
}

.hero2 .summary-hero2 {
  font-size: 1.7rem;
  color: #434343;
  width: 95%;
  line-height: 2.5rem;
  font-weight: 200;
  margin-top: 10%;
  margin-left: 2%;
  text-align: center;
}

.hero2 .hero-image2 {
    width: 100%;
}

.hero2 .hero-image2 img {
  width: 80%;
  height: 60%;
}

/* End Hero */

/* Feature */

  .feature {
    padding-top: 5vh;
    width: 70%;
  }

  .feature .judul-feature.hide-start,
  .feature .judul-feature {
    width: 110%;
    display: block;
    font-size: 2.5rem;
    line-height: 3.4rem;
    text-align: center;
    padding: 11% 0;
    margin-left: -3%;
  }

  .feature .image-feature {
    margin-left: 1.2% !important;
    width: 100%;
    height: 25vh;
  }

  .feature #hide-end {
    display: none;
  }

  .feature .summary-feature {
    font-weight: 300;
    width: 110%;
    font-size: 2rem;
    padding-top: 5%;
    margin-left: -4%;
    text-align: center;
  }

  .feature .summary-feature.hide-end-summary {
    display: none;
  }

  .feature .summary-feature.hide-start-summary {
    display: block;
    margin-right: -10%;
  }

  .feature #image-feature-mid {
    padding-left: 0%;
  }

  /* End Feature */

  
  /* Testimony */

  .testimony {
    clip-path: polygon(25% 0%, 100% 3%, 100% 100%, 70% 97%, 0 100%, 0 3%);
    height: 70vh;
    padding: 10% 7%;
  }

  .testimony .judul-testimony {
    color: #003668;
    text-align: center;
    margin-bottom: 5%;
    height: auto !important;
  }

  /* End Testimony */

  /* Vibes */

  .vibes {
    margin: 10% 0;
    padding: 0 5%;
  }

  .vibes .judul-vibes {
    font-size: 2.9rem;
  }

  .vibes .summary-vibes {
    font-size: 1.6rem;
    color: #7a7a7a;
    margin-bottom: 10%;
  }

  .vibes .swiper-container-vibes {
    width: 100%;
    height: auto;
  }

  .vibes .image-vibes {
    border-radius: 20px !important;
    height: 35vh;
  }

  /* End Vibes */

/* footer */

  .bg-footer img {
    height: 100vh;
  }

  .footer .kotak-white {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    height: 30vh;
    background-color: #fff;
    border: 1px solid #434343;
  }

  .footer {
    background-color: #001A31;
    height: auto;
    margin-top: 15% !important;
  }

  .footer .menu-footer {
    text-align: left;
  }

  .footer .text-footer-mobile, .footer .text-footer-mobile-dua {
    font-size: 0.8rem !important;
    margin-right: 4% !important;
  }

  .footer .text-footer-mobile-dua {
    text-align: left !important;
  }

  .footer #hide-footer-mobile {
    display: none;
  }

  .footer #jarak-bawah-mobile {
    margin-bottom: 5%;
  }

  .footer .bungkus-hide-komunitas-mobile {
    display: none;
  }

  .footer #bungkus-hide-komunitas {
    display: block;
    margin-top: -5% !important;
  }
  
  .footer #show-footer-end {
    display: block;
  }

  .footer .menu-footer {
    font-size: 0.9rem;
  }

  #text-footer-top {
    padding: 0 20%;
    margin-top: 25%;
  }

  .text-footer .judul-footer {
    font-size: 2.4rem !important;
    margin-bottom: 5%;
  }

  .footer #show-footer-end {
    margin-top: -2% !important;
    margin-left: 5% !important;
    padding-bottom: 10% !important;
  }

  .footer .judul-brand-footer-mobile {
    font-size: 1.5rem;
    color: #ffffff;
  }

  .footer #show-footer-end a {
    color: #acebff !important;
    font-size: 0.9rem !important;
  }

  /* end footer */




}
/* End Responsive Mobile */
