/* Font-Face */

@font-face {
  font-family: 'swis';
  src: url('../fonts/swis.ttf');
}

/* End Font-Face */

/* Utils */

.cs-bg {
  box-shadow: 0 0px 20px #bfbbbb;
}

.btn-wa-xl {
  border: none;
  background-color: #25d366;
  border-radius: 10em;
  color: #ffffff !important;
  width: 140px;
  height: 45px;
  line-height: 35px;
  right: -10px !important;
  text-align: center;
  position: relative;
}

.wa-text {
  padding-left: 1.5em;
}

#wa-icon {
  left: 15px;
  position: absolute;
  font-size: 2.2rem;
}

/* End Utils */

html {
  font-family: 'swis';
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* Header Section */

header {
  height: 60vh;
}

/* End Header Section */

/* Bg Header */

.bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 110%;
  top: -5em;
}

.bg-header img {
  width: 100%;
  height: 100%;
}

/* End Bg Header */

/* Nav */

nav {
  font-size: 1.7rem;
  background-color: #fff;
  height: 100px;
  padding: 0 7% 0 10% !important;
}

nav .nav-link {
  margin-right: 1.5em !important;
  color: #000000;
  border-bottom: 1.5px solid #fff;
  transition: all 0.5s ease;
}

nav #navbar-nav-satu .nav-item .nav-link:hover {
  border-bottom: 1.5px solid royalblue;
  transition: all 0.5s ease;
}

nav .logo img {
  width: 140px;
}

nav .mb-nav {
  display: none;
}

nav .mb-nav-flex {
  display: none;
}

/* End Nav */






/* Responsive  */

@media (max-width: 1600px) {
 /* Utils */

.cs-bg {
  box-shadow: 0 0px 20px #bfbbbb;
}

.btn-wa-xl {
  border: none;
  background-color: #25d366;
  border-radius: 10em;
  color: #ffffff !important;
  width: 140px;
  height: 45px;
  line-height: 35px;
  right: -10px !important;
  text-align: center;
  position: relative;
}

.wa-text {
  padding-left: 1.5em;
}

#wa-icon {
  left: 15px;
  position: absolute;
  font-size: 2.2rem;
}

/* End Utils */

html {
  font-family: 'swis';
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

/* Header Section */

header {
  height: 60vh;
}

/* End Header Section */

/* Bg Header */

.bg-header {
  width: 120%;
  position: absolute;
  left: -15em;
  height: 90%;
  top: -5em;
}

.bg-header img {
  width: 100%;
  height: 100%;
}

/* End Bg Header */

/* Nav */

nav {
  font-size: 1.7rem;
  background-color: #fff;
  height: 100px;
  padding: 0 7% 0 10% !important;
}

nav .nav-link {
  margin-right: 1.5em !important;
  color: #000000;
  border-bottom: 1.5px solid #fff;
  transition: all 0.5s ease;
}

nav #navbar-nav-satu .nav-item .nav-link:hover {
  border-bottom: 1.5px solid royalblue;
  transition: all 0.5s ease;
}

nav .logo img {
  width: 140px;
}

nav .mb-nav {
  display: none;
}

nav .mb-nav-flex {
  display: none;
}

/* end nav */

/* hero */
.hero {
  padding: 0 11%;
  margin-top: -3%;
}

.hero .judul-hero {
  font-size: 6rem;
  margin-top: 15%;
  font-weight: 700;
}

.hero .judul-hero #text-top {
    color: #003668;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

.hero .filter-box {
    font-size: 1.5rem;
    border: 1px solid #707070;
    border-radius: 6px;
    margin-top: 3%;
    padding: 1% 3%;
    text-align: center;
}
/* end hero */

/* daftar lokasi */

.swiper-container {
    margin-left: 4%;
}

.daftar-lokasi {
    margin-left: 5%;
}

.daftar-lokasi .bungkus-lokasi {
    background-size: contain;
    width: 100%;
    position: relative;
    border-radius: 20px;
  }

  .daftar-lokasi .img-lokasi img {
      width: 150%;
      cursor: pointer;
  }

.daftar-lokasi .judul-lokasi {
    position: absolute;
    bottom: 25%;
    color: #fff;
    left: 20%;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


  .daftar-lokasi .garis-lokasi {
    position: absolute;
    height: 2px;
    background-color: #edfe00;
    width: 40%;
    left: 20.8%;
    bottom: 19%;
  }

  .daftar-lokasi .text-lokasi {
    position: absolute;
    color: #ffffff;
    bottom: 15%;
    left: 20.7%;
    font-size: 1.3rem;
  }

/* end daftar lokasi */

/* form */

.form {
  margin-left: 7%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.clip-path {
  margin-left: 8%;
  width: 65rem;
  height: 40vh;
  background-color: #f8f9f4;
  clip-path: polygon(0% 0%, 75% 0%, 87% 50%, 75% 100%, 0% 100%);
}
.image-path {
  display: none;
}
.form-box {
  margin: 5% 10% 0 10%;
}

.judul-clip {
  font-size: 4rem;
  font-weight: 700;
  padding: 5rem 0 0 5rem;
}

.desk-clip {
  font-size: 2rem;
  padding: 1.5rem 0 0 5rem;
  z-index: -1;
}

.form .form-right {
  margin-top: -3%;
}

.form .form-right .form-group {
  width: 70%;
  margin-top: 3%;
  margin-left: 10%;
}

.form .form-right .form-group label {
  font-size: 1.4rem;
}

.form .form-right .form-group .input-group-text .text-ponsel {
  font-size: 1.5rem;
  margin: auto 1rem;
}

.form .form-right .form-group .btn-form {
  border-radius: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 2rem 1.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[placeholder] {
  font-size: 1.5rem;
  font-style: italic;
}
input[type="submit"] {
  padding: 1rem 0;
  font-style: normal;
  font-size: 1.5rem;
}

/* end form */

/* Hero2 */

.hero2 {
  width: 110%;
  height: 95vh;
  background-color: #f8f5ff;
  clip-path: polygon(18% 0, 100% 7%, 100% 96%, 78% 100%, 0 94%, 0 4%);
  padding: 7% 15%;
}

.hero2 .judul-hero2 {
  font-size: 5rem;
  color: #003668;
  margin-top: 15%;
  font-weight: bold;
}

.hero2 .summary-hero2 {
  font-size: 2rem;
  color: #434343;
  width: 85%;
  font-weight: 200;
  margin-top: 5%;
}

.hero2 .hero-image2 {
  width: 600px;
  height: 380px;
  margin-right: 20%;
  margin-left: 10%;
  margin-top: 10%;
}

.hero2 .hero-image2 img {
  border-radius: 180px;
  width: 80%;
  height: 80%;
  margin-right: 20%;
}

/* End Hero2 */

/* Feature */

  .feature {
    margin: 5% 5% 10% 15%;
  }

  .feature .judul-feature.hide-start {
    display: none;
  }

  .feature .image-feature {
    width: 90%;
    height: 45vh;
  }

  .feature .image-feature img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .feature .judul-feature {
    font-size: 3.5rem;
    color: #003ea4;
    font-weight: 600;
    line-height: 4.5rem;
    padding-top: 6%;
  }

  .feature #text-feature {
    padding-left: 5%;
  }

  .feature .summary-feature {
    font-size: 1.8rem;
    margin-top: 5%;
  }

  .feature #bungkus-feature {
    margin-bottom: 10%;
  }

  .feature .summary-feature.hide-start-summary {
    display: none;
  }

  .feature #image-feature-mid {
    padding-left: 8%;
  }
  /* End Feature */

}











/* Mobile */
@media (max-width: 570px) {
  /* Utils */
  .btn-burger {
    font-size: 3.5rem;
  }

  .btn-wa {
    font-size: 25px;
    width: 50px;
    padding: 0;
    height: 50px;
    border-radius: 50%;
    background-color: #25d366;
    color: #fff;
    border: none;
  }

  .text-close-nav {
    position: relative;
    bottom: -10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: none;
  }

  /* End Utils */

  /* Bg Header */

  .bg-header {
    width: 300%;
    position: absolute !important;
    height: 69vh;
  }

  .bg-header img {
    width: 100%;
    height: 100%;
  }

  /* End Bg Header */

  /* Nav */

  nav {
    z-index: 1;
  }

  /* End Nav */

  /* Hero */

  .hero {
    padding-top: 24%;
  }

  /* End Hero */

  /* Mb Nav Flex */

  .mb-nav-flex {
    display: flex !important;
    justify-content: inherit !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
  }

  #cs-bg {
    z-index: 9;
    position: fixed;
    width: 100%;
  }

  /* End Mb Nav Flex */

  .mb-nav {
    width: 100%;
    height: 0%;
    position: fixed;
    z-index: 7;
  }

  .mb-nav.mb-nav-active {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 0.8s ease;
    z-index: 2;
    margin-top: 15%;
  }

  .mb-nav ul {
    background-color: #ffffff;
    border-radius: 0 0 15% 15%;
    list-style: none;
    padding: 10px 5% 10px 10% !important;
    display: none;
  }

  .mb-nav ul li {
    padding: 5% 5%;
    width: 95%;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #bebebe;
    font-size: 2.6rem;
  }

  .mb-nav .mb-menu-nav.active {
    color: #0161ff;
  }

  .mb-nav .mb-menu-nav:active,
  .mb-nav .mb-menu-nav:hover {
    color: #0161ff;
    text-decoration: none;
  }

  .mb-nav ul li a {
    color: #000000;
  }

  .mb-nav ul li:nth-child(3) {
    border: none;
  }


  /* hero */
.hero {
  padding: 0 11%;
  margin-top: 30%;
}

.hero .judul-hero {
  width: 100%;
  font-size: 4rem;
  margin-top: 15%;
  font-weight: 700;
  text-align: center;
  margin-left: 2%;
}

.hero .filter-box {
    font-size: 1.8rem;
    border: 1px solid #707070;
    border-radius: 6px;
    margin-top: 10%;
    margin-left: 28%;
    padding: 3% 6%;
}

/* daftar lokasi */

.swiper-container {
    margin-top: 10%;
}

.daftar-lokasi {
    margin-left: 2%;
}

 .daftar-lokasi .img-lokasi img {
      width: 100%;
  }

.daftar-lokasi .judul-lokasi {
    top: 60%;
    left: 20.7%;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


  .daftar-lokasi .garis-lokasi {
    position: absolute;
    height: 2px;
    background-color: #edfe00;
    width: 40%;
    left: 20.8%;
    bottom: 19%;
  }

  .daftar-lokasi .text-lokasi {
    position: absolute;
    color: #ffffff;
    bottom: 13%;
    left: 20.7%;
    font-size: 1rem;
  }


  /* form */

.form {
  margin-left: 8%;
}

.form .form-right .form-group {
    width: 90%;
    margin-top: 5%;
    margin-left: 1%;
  }

.clip-path {
  width: 100%;
  height: 40vh;
  margin-left: -3%;
  background-color: #f8f9f4;
  clip-path: polygon(0% 0%, 100% 0, 100% 68%, 48% 100%, 0 69%);
}

  
.judul-clip {
  font-size: 2rem;
  text-align: center;
  margin-left: -16%;
}
.desk-clip {
  font-size: 1.3rem;
  margin-left: -5%;
  z-index: -1;
}

/* end form */

/* hero2 */

.hero2 {
    clip-path: polygon(18% 0, 100% 2%, 100% 96%, 78% 100%, 0 98%, 0 3%);
    padding: 15% 3%;
    height: 80vh;
    margin-top: 10%;
    width: 110%;
}

.hero2 .judul-hero2 {
  font-size: 3rem;
  color: #003668;
  margin-top: 2%;
  text-align: center;
  margin-left: 2%;
}

.hero2 .summary-hero2 {
  font-size: 1.4rem;
  color: #434343;
  width: 100%;
  font-weight: 200;
  margin-top: 10%;
  text-align: center;
}

.hero2 .hero-image2 {
    width: 100%;
}

.hero2 .hero-image2 img {
  width: 80%;
  height: 50%;
}

/* End Hero */

/* Feature */

  .feature {
    padding-top: 15vh;
    width: 70%;
  }

  .feature .judul-feature.hide-start,
  .feature .judul-feature {
    display: block;
    font-size: 2.2rem;
    line-height: 3.4rem;
    text-align: center;
    padding: 11% 0;
  }

  .feature .image-feature {
    margin-left: 1.2% !important;
    width: 100%;
    height: 25vh;
  }

  .feature #hide-end {
    display: none;
  }

  .feature .summary-feature {
    font-weight: 300;
    width: 120%;
    font-size: 1.5rem;
    padding-top: 5%;
    margin-left: -10%;
    text-align: center;
  }

  .feature .summary-feature.hide-end-summary {
    display: none;
  }

  .feature .summary-feature.hide-start-summary {
    display: block;
    margin-right: -10%;
  }

  .feature #image-feature-mid {
    padding-left: 0%;
  }

  /* End Feature */



}
/* End Responsive Mobile */
